<a asp-action="Users" asp-controller="Admin"><div class="LinkDiv">Users list</div></a>
<a asp-action="CreateHotel" asp-controller="Admin"><div class="LinkDiv">Create Hotel</div></a>
<a asp-action="CreateRoom" asp-controller="Admin"><div class="LinkDiv">Create Room</div></a>