@{
    ViewData["Title"] = "Home Page";
}

<div class="orderNowButton">ORDER ROOM NOW!</div>

<div class="firstBenefitDiv">
    <div class="benefitOneTitle_first">Easiest order</div>
    <div class="benefitOneTitle_second">Kindest personnel</div>

    <div class="benefitOneDescript">
        You can order room on web-site, or on reception in Hotel!
        Our manager will  allways be happy to answer yor questions!
        <i> Also there`s system of discount</i> 😏
    </div>


</div>
     