@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grape+Nuts&display=swap');

.flex {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

.HotelChoseDiv {
    background-color: blanchedalmond;
    margin: 10px;
    width: 250px;
    height: 450px;
    position: relative;
}

.HotelLocation {
    position: absolute;
    text-align: center;
    font-family: 'Berlin Sans FB';
    padding-top: 3%;
    width: 100%;
    height: 12%;
    font-size: 24px;
    font-size: 5vh;
    background-color: #FFE4BB;
    left: 0px;
    right: 0px;
}

.HotelImageDiv {
    position: absolute;
    top: 22%;
    left: 10%;
    width: 80%;
    /*background-image: url("../../photo/hotels/1.jpg"); */
    background-size: 100%;
    height: 55%;
    background-position-y: -15px;
    transition: all 0.4s;
    background-repeat: no-repeat;
}

.HotelChoseDiv:hover .HotelImageDiv {
    left: 2%;
    top: 15%;
    width: 96%;
    height: 70%;
    background-repeat: no-repeat;
}

.HotelInfoDiv {
    position: absolute;
    bottom: 1%;
    margin-left: 10px;
}

    .HotelInfoDiv div {
        background: #FFF7E8;
        border: 1px solid #F0EAD6;
        padding-right: 10px;
        font-family: Arial;
        margin-bottom: 1px;
    }

/* Filters for choosing room */

.FiltersDiv {
    margin-top: 7px;
    width: 100%;
    padding: 0px;
    height: auto;
    background-color: #F0EAD6;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 12px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 12px 1px rgba(34, 60, 80, 0.2);
}

.FiltersDiv form {
    display: flex;
    flex-wrap: wrap;
}

.FiltersDiv form div:first-child {
    margin: 0px;
    padding-top: 7px;
    background: linear-gradient(to right, #DACA96, #F0EAD6);
    padding-right: 20px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.FiltersDiv form div {
    font-size: 20px;
    margin: 4px;
    padding: 3px;
    margin-left: 10px;
    border: 1px solid #BB8F00;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 12px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 12px 1px rgba(34, 60, 80, 0.2);
}

.FiltersDiv form div:last-of-type {
    margin: 4px;
    padding: 0;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.FiltersDiv form div:last-of-type input{
    background-color: antiquewhite;
    min-height: 30px;
    padding-left:5px;
    padding-right: 5px;
    font-size: 16px;
    width: 100%;
    height: 100%;
}
/* Filters for OrdersList */

/*  Choose room  */
.RoomChoseDiv {
    box-shadow: 9px -9px 9px -6px rgba(34, 60, 80, 0.24);
    overflow: hidden;
    background-color: blanchedalmond;
    margin: 10px;
    width: 250px;
    height: 350px;
    position: relative;
}

.ChoseHead {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 15%;
}

.RoomNumbDiv {
    font-size: 18px;
    font-family: Trebuchet MS;
    background-color: #FFF5E5;
    color: #663D00;
    width: 30%;
    height: 50%;
    border: 5px solid #985B00;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    margin-top: 2%;
    border-radius: 20px;
}

.RoomDescription {
    position: absolute;
    left: 3%;
    opacity: 0;
    width: 94%;
    top: 20%;
    min-height: 20%;
    height: auto;
    border: 1px solid black;
    font-size: 14px;
    transition: all 0.5s;
}

.RoomChoseDiv:hover .RoomDescription {
    transform: translateY(40%);
    opacity: 1;
}

.RoomParameters {
    width: 100%;
    height: auto;
    padding-left: 4%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.RoomParameter {
    color: #2C1D00;
    background-color: #FFF2DE;
    font-family: Cordia New;
    padding: 1%;
    width: fit-content;
    margin-bottom: 1%;
    border: 1px solid #986500;
    box-shadow: 10px 5px 5px #3F2A00;
}

.ChoseRoomPhoto {
    position: absolute;
    background-size: 100%;
    top: 20%;
    left: 2%;
    width: 96%;
    height: 55%;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 0.5s;
}

.RoomChoseDiv:hover .ChoseRoomPhoto {
    opacity: 0.2;
    width: 98%;
    left: 1%;
}

/* Create order styles */

.CreateOrderDetail {
    position: relative;
    left: 0;
    text-align: center;
    width: fit-content;
    padding: 5px;
    border-start-end-radius: 10px;
    background: linear-gradient(45deg, #F6E6BA, #8C690A);
    opacity: 0.8;
    font-size: 28px;
}

.CreateOrderTable {
    width: 40%;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #735A14, #AF8B28);
}

.CreateOrderTable tr {
    font-family: Arial;
    width: 100%;
    background: linear-gradient(45deg, #EBDBAE, #EBCE7F);
    -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}


.CreateOrderTable tr td {
    width: 50%;
    padding: 10px;
    text-align: center;
}

.CreateOrderRNDiv {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: #663D00;
    width: 10%;
    font-weight: 800;
    height: 50%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.DescrTitle {
    position: relative;
    font-size: 30px;
}

.DescriptionDiv {
    margin-top: 10px;
    position: relative;
    font-size: 16px;
    width: 30%;
    min-height: 150px;
}

.RoomImages {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.RoomPhoto {
    background-size: 100%;
    width: 400px;
    margin: 1%;
    height: auto;
    min-height: 250px;
    background-repeat: no-repeat;
    opacity: 1;
}

.CreateOrdForm {
    border: 5px solid black;
    background: #F2F1EF;
    position: relative;
    width: 60%;
    left: 20%;
    font-size: 30px;
}

.ChoseOrdPart {
    width: 100%;
    height: 100px;
}

.ChoseOrdPart input {
    position: relative;
    margin-left: 20px;
    top: 10%;
    font-family: 'Grape Nuts', cursive;
    font-size: 30px;
    font-weight: 800;
}

.ChoseOrdPart label {
    font-family: 'Grape Nuts', cursive;
    position: relative;
    left: 10px;
    top: 5%;
    font-weight: 500;
    font-size: 36px;
}

input[type="number"] {
    width: 60px;
}

.PriceInfo {
    font-family: cursive;
    font-size: 34px;
}

.PriceInfo span {
    font-size: 28px;
}

.DiscountInfo {
    font-size: 20px;
    font-family: Cambria;
    color: #B6B5B4;
}

.CreateOrdForm button {
    position: relative;
    left: 40%;
    margin: 20px;
    width: 20%;
    height: 40px;
    border-radius: 30px;
    background-color: #EADDB3;
    border: 3px solid #734F06;
    transition: all .5s;
}

.CreateOrdForm button:hover {
    background-color: #D5C48C;
    cursor: pointer;
} 

/* Confirm Button */

.BackButton {
    padding: 7px 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    width: fit-content;
    border: 4px solid #916F00;
    border-radius: 20px;
    color: black;
    background: #F0EAD6;
    position: relative;
    transition: all 0.3s;
}

.BackButton:hover {
    background: #FDF5E6;
    border: 4px solid #7A5E00;
}

.ConfirmDataDiv {
    width: 100%;
    text-align: left;
    color: #502516;
    font-size: 32px;
}

.ConfirmOrdButton {
    padding: 7px 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    width: fit-content;
    border: 4px solid #916F00;
    border-radius: 20px;
    color: black;
    background: #F0EAD6;
    position: relative;
    transition: all 0.3s;
}

.ConfirmOrdButton:hover {
    cursor: pointer;
    background: #FDF5E6;
    border: 4px solid #7A5E00;
}

/* Orders Of User */

.OrderInfo {
    width: 80%;
    border: 1px solid black;
    height: 400px;
    position: relative;
    margin-bottom: 20px;
}

.RoomInfoPhoto {
    background-size: 100%;
    width: 36%;
    max-width: 60%;
    margin: 1%;
    height: auto;
    min-height: 300px;
    background-repeat: no-repeat;
    opacity: 1;
}

.OrderStatuses{
    width: 15%;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.status {
    width: 100%;
    font-size: 24px;
    border-radius: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
}

.ActiveStatus {
    background-color: #7BDCA2;
}

.NotActiveStatus {
    background-color: #A8A8A8;
    color: #808080;
}

.NotPaidStatus {
    background-color: #EB6C6C;
}


.OrderFacts {
    height: auto;
    width: 23%;
    position: absolute;
    left: 40%;
    top: 10px;
    border: 1px solid black;
    background-color: #EBD69E;
    overflow: hidden;
}

.OrderFacts div {
    font-family: Arial;
    width: 100%;
    height: auto;
    margin: 5px;
}

.OrderActions{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.OrderActions a {
    padding: 7px 12px;
    border: 1px solid black;
    background-color: #EBE1C4;
}

.OrderActions a:hover {
    cursor: pointer;
    background-color: #EBE3CE;
    -webkit-box-shadow: 0px 0px 13px -2px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 0px 13px -2px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 0px 13px -2px rgba(34, 60, 80, 0.6);
}